.home {
  min-height: 60vh;
  button {
    width: 200px;
    // height: 200px;
    border-radius: 10px;
    background-color: #eaeaea; /* Replace with your desired background color */
    border: 2px solid #cccaca; /* Replace with your desired border color */
    font-family: Arial, sans-serif; /* Replace with your desired font */
    font-size: 16px;
    color: #333; /* Replace with your desired text color */
    text-align: center;
    line-height: 200px; /* Centers the text vertically */
    text-decoration: none; /* Removes underline */
    display: inline-block;
    margin: 10px; /* Adjust the margin as per your layout */
  }
}