.bg-body-tertiary {
  background-color: red;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  .header {
    color: black;
    li {
      text-decoration: none;
      color: black;
      a {
        color: black;
        &:hover {
          color: grey;
        }
      }
    }
  }
}
