.bg-body-tertiary {
  background-color: red;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  .header {
    color: black;
    li {
      text-decoration: none;
      color: black;
      a {
        color: black;
        &:hover {
          color: grey;
        }
      }
    }
  }
}

@keyframes infiniteAnimation {
  0% {
    transform:  scale(1);
  }
  50% {
    transform:  scale(1.05);
  }
  100% {
    transform:  scale(1);
  }
}

.animated {
  animation: infiniteAnimation 2s infinite linear;
}


